//Simple Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Root font size
:root {
  font-size: calc(14px + 0.8vw);

  @media screen and (min-width: 600px) {
    font-size: calc(14px + 0.096vw);
  }
}

//Fonts
//Poppins
@font-face {
  font-family: PoppinsReg;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsMed;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

//Roboto
@font-face {
  font-family: IBMReg;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: IBMMed;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBMSemiBold;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}

//Root font family
body {
  font-family: PoppinsReg, Arial, Helvetica, sans-serif;
}
