//Simple Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Root font size
:root {
  font-size: calc(14px + 0.18vw);
}

//Fonts
@font-face {
  font-family: PoppinsReg;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsMed;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

//Root font family
body {
  font-family: PoppinsReg, Arial, Helvetica, sans-serif;
}
