//Icons
.small-icon {
	font-size: 1.14rem;
	padding: 0.12rem;
}

.regular-icon {
	font-size: 1.32rem;
	padding: 0.12rem;
}

.large-icon {
	font-size: 1.6rem;
	padding: 0.12rem;
}

//Searchbar
.form-control {
	.searchBar {
		@include ps;
		border-radius: $space-1;
		background-color: #f4f7f2;
		padding: 0.8rem $base-spaceSize;
		width: 100%;
		border: none;
		margin-left: $space-1;
		color: $black;

		&:focus {
			outline: none;
			//outline-color: #94ac80;
			background-color: white;
		}

		&::-webkit-input-placeholder {
			@include ps;
			color: #94ac80;
		}

		&:-ms-input-placeholder {
			@include ps;
			color: #94ac80;
		}

		&::-ms-input-placeholder {
			@include ps;
			color: #94ac80;
		}

		&::-moz-placeholder {
			@include ps;
			color: #94ac80;
		}

		&::placeholder {
			@include ps;
			color: #94ac80;
		}
	}
}

.featured-podcast {
	@include tab-screen {
		@include flex(row, flex-start);
	}
	width: 100%;

	img {
		width: 100%;
		height: 14rem;
		border-radius: $space-4;
		margin-bottom: $space-4;

		@include tab-screen {
			margin-right: $space-6;
			width: 14rem;
			height: auto;
			margin-bottom: 0;
		}
	}

	.card-content {
		margin-top: $space-2;
		width: 100%;

		.podcast-info {
			.podcast-channel {
				@include ph;
				margin-bottom: $space-1;
			}

			.podcast-title {
				@include h2;
				margin-bottom: $space-3;
			}
			.podcast-details {
				width: 100%;
				@include flex(row, center);
				color: $gray-1;

				@include tab-screen {
					width: 32%;
				}
				.time-released {
					@include pl;
					margin-right: $space-2;
				}

				.duration {
					@include plb;
				}
			}
		}

		.play-button {
			display: none;
			margin-left: auto;
		}
	}
}
