//Icons
.xsmall-icon {
	font-size: 1rem;
	padding: 0.12rem;
}

.small-icon {
	font-size: 1.14rem;
	padding: 0.12rem;
}

.regular-icon {
	font-size: 1.32rem;
	padding: 0.12rem;
}

.large-icon {
	font-size: 1.6rem;
	padding: 0.12rem;
}

//Buttons
.icon-button {
	@extend .small-icon;
	@include flex;
	background: hsl(249, 100%, 48%);
	color: white;
	border-radius: $spacing-4;
	padding: 0.48rem;
	transition: all 0.25s ease;

	&:hover {
		box-shadow: 2px 6px 16px hsl(249, 100%, 84%);
	}
}

//Searchbar
.search-form {
	@include flex;

	.form-control {
		@include flex;
		padding: $spacing-1 $spacing-2;
		padding-left: $spacing-6;
		background: hsl(0, 0%, 94%);
		color: hsl(0, 0%, 56%);
		border-radius: $spacing-4;
		transition: all 0.25s ease;

		.search-input {
			@extend .ps;
			width: 100%;
			border: none;
			color: hsl(0, 0%, 12%);
			background: transparent;
			margin-left: $spacing-1;

			&:focus {
				outline: none;
			}

			&::placeholder {
				@extend .px;
				color: hsl(0, 0%, 56%);
			}
		}

		&:focus-within {
			.search-button {
				box-shadow: 2px 6px 16px hsl(249, 100%, 84%);
			}
		}
	}
}

.featured-podcast {
	@include tab-screen {
		@include flex(row, flex-start);
	}
	width: 100%;

	img {
		width: 100%;
		height: 14rem;
		border-radius: $space-4;
		margin-bottom: $space-4;

		@include tab-screen {
			margin-right: $space-6;
			width: 14rem;
			height: auto;
			margin-bottom: 0;
		}
	}

	.card-content {
		margin-top: $space-2;
		width: 100%;

		.podcast-info {
			.podcast-channel {
				@include ph;
				margin-bottom: $space-1;
			}

			.podcast-title {
				@include h2;
				margin-bottom: $space-3;
			}
			.podcast-details {
				width: 100%;
				@include flex(row, center);
				color: $gray-1;

				@include tab-screen {
					width: 32%;
				}
				.time-released {
					@include pl;
					margin-right: $space-2;
				}

				.duration {
					@include plb;
				}
			}
		}

		.play-button {
			display: none;
			margin-left: auto;
		}
	}
}
