//Fonts
@mixin h3 {
  font-size: calc(#{$base-fontSize} * 1.32);
  font-family: PoppinsSemiBold;
}

@mixin h4 {
  font-size: calc(#{$base-fontSize} * 1.24);
  font-family: PoppinsSemiBold;
}

@mixin ph {
  font-size: calc(#{$base-fontSize} * 1.08);
  font-family: PoppinsReg;
}

@mixin phb {
  font-size: calc(#{$base-fontSize} * 1.08);
  font-family: PoppinsMed;
}

@mixin pl {
  font-size: $base-fontSize;
  font-family: PoppinsReg;
}

@mixin plb {
  font-size: $base-fontSize;
  font-family: PoppinsMed;
}

@mixin ps {
  font-size: calc(#{$base-fontSize} * 0.88);
  font-family: PoppinsReg;
}

@mixin psb {
  font-size: calc(#{$base-fontSize} * 0.88);
  font-family: PoppinsMed;
}

@mixin px {
  font-size: calc(#{$base-fontSize} * 0.8);
  font-family: PoppinsReg;
}

@mixin pxb {
  font-size: calc(#{$base-fontSize} * 0.8);
  font-family: PoppinsMed;
}

//Flexbox
@mixin flex($direction: null, $align-items: null, $justify-content: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

//Display none
@mixin dNone {
  display: none;
}

//Border
@mixin lightBorder {
  border: 1.24px solid #dbdbdb;
}

//Media Queries

//Big Smartphone devices
@mixin phoneLg {
  @media screen and (min-width: 414px) {
    @content;
  }
}

//Tablet devices
@mixin tabScreen {
  @media screen and (min-width: 600px) {
    @content;
  }
}

//Small screen laptops
@mixin laptopSmall {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//Large screen laptops
@mixin laptopLarge {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

//Hide Scrollbar
@mixin hideScrollbar {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

//Button
@mixin button-plain {
  border: none;
  background: transparent;
}
