//Colors
$prim-color: #6bd80b;
$black: #292929;
$gray-1: #4d4d4d;
$gray-2: #858585;
$gray-3: #adadad;
$gray-4: #fafafa;
$border-gray: #e8e8e8;

$base-fontSize: 1rem; //Base font size

//Spacing
$base-spaceSize: calc(1rem + 0.8px); //Base space size
$space-1: calc(#{$base-spaceSize} * 0.5);
$space-2: calc(#{$base-spaceSize} * 1.25);
$space-3: calc(#{$base-spaceSize} * 1.5);
$space-4: calc(#{$base-spaceSize} * 1.75);
$space-5: calc(#{$base-spaceSize} * 2);
$space-6: calc(#{$base-spaceSize} * 2.25);
$space-7: calc(#{$base-spaceSize} * 2.5);
$space-8: calc(#{$base-spaceSize} * 2.75);
$space-9: calc(#{$base-spaceSize} * 3);
$space-10: calc(#{$base-spaceSize} * 3.25);

//Spacing
$spacing-1: 0.2rem;
$spacing-2: 0.4rem;
$spacing-3: 0.6rem;
$spacing-4: 0.8rem;
$spacing-5: 1rem;
$spacing-6: 1.2rem;
$spacing-7: 1.6rem;
$spacing-8: 2rem;
$spacing-9: 2.4rem;
$spacing-10: 2.8rem;
$spacing-11: 3.2rem;
$spacing-12: 3.6rem;
$spacing-13: 4rem;
$spacing-14: 4.4rem;
$spacing-15: 4.8rem;
$spacing-16: 5.2rem;
$spacing-17: 5.6rem;
$spacing-18: 6rem;
