//imports
@import "../../sass/variables";
@import "../../sass/utilities";

.sidebar {
	position: fixed;
	z-index: 1;
	background-color: #ffffff;
	height: 100%;
	overflow-y: scroll;
	width: 80%;
	border-right: 1.6px solid #dbdbdb;
	@include flex(column);
	@include hide-scrollbar;
	@include phone-lg {
		width: 72%;
	}
	@include tab-screen {
		width: 16rem;
	}

	nav {
		@include flex($justify: space-between);
		width: 80%;
		margin: $spacing-7 $spacing-5 0 auto;

		.close-btn {
			display: block;
		}

		@include tab-screen {
			width: max-content;
			margin: $spacing-7 auto 0;

			.close-btn {
				@include d-none;
			}
		}
	}

	#account-prompt {
		width: 80%;
		margin: $spacing-12 auto 0;
		@include flex(column, center);

		.user-avatar {
			font-size: 7.2rem;
			margin-bottom: $spacing-6;
		}

		.login-text {
			text-align: center;
			margin-top: $spacing-6;

			.login-prompt {
				margin-bottom: $space-2;
			}
		}
	}
}

.sidenav-closed {
	@include d-none;

	@include tab-screen {
		display: flex;
	}
}
