//imports
@import "../variables";
@import "../utilities";

.podcast-category {
	margin-bottom: 20rem;
	width: 100%;

	.category-title {
		margin-bottom: $spacing-6;
		margin-left: $spacing-2;
	}

	.podcasts {
		@include flex($justify: space-between);
		overflow-x: scroll;
		@include hide-scrollbar;

		.podcast-item {
			min-width: 16.8rem;
			//max-width: 272px;
			height: 148px;
			padding: $spacing-5;
			border-radius: $spacing-6;
			margin: 0 $spacing-8 0 0;
			border: 2px solid rgb(240, 236, 235);

			.podcast {
				width: 100%;
				height: 100%;
				@include flex(column, flex-start, space-between);

				.podcast-details {
					@include flex($align: flex-start);
					width: 100%;

					.podcast-channel-image {
						width: $spacing-10;
						border-radius: $spacing-12;
						margin-right: $spacing-3;
					}

					.channel-details {
						width: 100%;
						margin-top: $spacing-1;

						.channel-name {
							color: $black;
						}
						.episode-details {
							@include flex(row, center);

							.text {
								@include flex(row, center);
								color: hsl(0, 0%, 32%);

								.time-released {
									margin-right: $spacing-3;
								}
							}

							.play-button {
								margin-left: auto;
							}
						}
					}
				}
			}
		}
	}
}
