//imports
@import "../variables";
@import "../utilities";

.sidebar {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  width: 80%;
  border-right: 1.6px solid #dbdbdb;
  @include flex(column);
  @include hideScrollbar;
  @include phoneLg {
    width: 72%;
  }
  @include tabScreen {
    width: 16rem;
  }

  nav {
    margin-top: $space-2;
    width: 100%;
    text-align: center;

    .close-btn {
      display: block;
      margin: 0 $space-3 $space-1 auto;

      @include tabScreen {
        @include dNone;
      }
    }

    .brand {
      @include h3;
      text-decoration: none;
      color: $prim-color;
    }
  }

  .playlist {
    margin-top: $space-8;
    padding: 0 0 0 $space-6;

    .section-title {
      @include ps;
      margin-bottom: $space-2;
      color: $gray-2;
    }

    .playlist-item {
      @include px;
      padding-left: $space-1;
      list-style-type: none;
      color: $gray-3;
    }
  }

  .player-area {
    width: 92%;
    margin: auto auto $space-6 auto;
  }
}

.sidenav-closed {
  @include dNone;
}
