//imports
@import "../variables";
@import "../utilities";

.app {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: hsl(260%, 100%, 100%);

	main {
		margin: $space-3 $base-spaceSize;

		@include tab-screen {
			width: calc(100vw - 21.4rem);
			margin: $space-3 $base-spaceSize;
			margin-left: auto;
		}
	}
}
