//imports
@import "../variables";
@import "../utilities";

#home {
  width: 100%;

  .nav {
    width: 100%;
    margin-bottom: $space-7;

    .nav-header {
      @include flex(row, center, space-between);
      width: 100%;
      margin-bottom: $space-4;

      @include tabScreen {
        display: none;
      }
    }

    form {
      @include d-none;
      width: 100%;
      margin-left: auto;
      margin-right: $space-1;
      margin-top: $space-4;

      @include tabScreen {
        width: 28%;
        margin-right: $space-8;
        display: block;
      }

      input {
        width: 100%;
      }
    }
  }

  .featured-podcast {
    margin-top: $space-10;
    margin-bottom: 5.6rem;

    @include laptopSmall {
      margin-top: $space-2;
      width: 80%;
    }
  }
}
