//imports
@import "../variables";
@import "../utilities";

#home {
  width: 100%;

  .nav {
    width: 100%;
    margin-bottom: $space-7;

    .nav-header {
      @include flex(row, center, space-between);
      width: 100%;
      margin-bottom: $space-4;

      @include tabScreen {
        display: none;
      }
    }

    form {
      width: 100%;
      margin-left: auto;
      margin-right: $space-1;

      @include tabScreen {
        width: 32%;
        margin-right: $space-8;
      }

      input {
        width: 100%;
      }
    }
  }

  .intro-texts {
    margin-bottom: $space-10;

    .main-text {
      @include Rh1;
      margin-bottom: $space-1;

      span {
        color: $gray-1;
      }
    }

    .aux-main {
      @include pl;
      color: $gray-3;
    }
  }

  .channels {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 4.8rem;
    @include hideScrollbar;

    .channel-item {
      margin-right: $space-4;
      list-style-type: none;

      img {
        width: 12rem;
        height: 16.4rem;
        border-radius: $space-2;
        border: 1.64px solid $border-gray;
      }
    }

    .link-item {
      @include ps;
      margin: auto 0 $space-4 0;

      a {
        text-decoration: none;
        color: $prim-color;
      }
    }
  }
}
